.sl_accordion {
	// background-color: get-color(accent2);
	// padding: $spacing--md;
	// border-radius: $border-radius;

	@include breakpoint (small down) {
		padding: $spacing--sm;
	}//end small down breakpoint

	@include breakpoint (xsmall down) {
		padding: $spacing--xs;
	}//end xsmall down breakpoint
	
	&__item {
		margin-bottom: $spacing--sm;
		box-shadow: $shadow;
		border-radius: $border-radius;
		background-color: get-color(inverse);
		overflow: hidden;

		&:last-of-type {
			margin-bottom: 0;
		}//end &:last-of-type
	}//end &__item

	&__title {
		background: none;
		border: none !important;
		padding: $spacing--sm;
		font-size: 1.5rem;
		color: get-color(default);

		@include breakpoint (small down) {
			font-size: 1.25rem;
		}//end small down breakpoint

		&:hover, &:focus {
			background: none;
			color: get-color(default);
		}//end &:hover, &:focus

		&:before {
			content: '';
			background-image: url(#{$path-img}/icon/accordion-down.svg);
			background-size: contain;
			background-repeat: no-repeat;
			width: 24px;
			height: 24px;
			opacity: .3;
			right: $spacing--sm;
			top: calc(50% - 4px);
		}//end &:before

		.is-active > & {
			color: get-color(primary);
			font-weight: $font-weight--medium;

			&:before {
				content: '';
				background-image: url(#{$path-img}/icon/accordion-up.svg);
			}//end &:before
		}//end .is-active &
	}//end &__title

	&__content {
		padding: $spacing--sm;
		padding-top: 0;
		border: none !important;
		
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__content

	&--faq {
		padding: 0;
		background: none;

		.sl_accordion {
			&__item {
				margin-bottom: 0;
				box-shadow: none;
				border-bottom: 1px solid get-color(default);
				border-radius: 0;
				overflow: visible;

				&.is-active .sl_accordion__title {
					color: get-color(default);
					font-weight: $font-weight--regular;

					&:before {
						content: 'Hide Answer';
					}//end &:before
				}//end .is-active &
			}//end &__item

			&__title {
				padding: $spacing--sm 0;
				padding-right: $spacing--xs + rem-calc(185px);

				@include breakpoint (small down) {
					font-size: $font-size--regular;
					padding: $spacing--sm 0 $spacing--lg + rem-calc(35px);
					text-align: center;
				}//end small down breakpoint

				&:before {
					text-align: center;
					border-radius: $border-radius--pill;
					background: none;
					width: 185px;
					height: 35px;
					content: 'Show Answer';
					opacity: 1;
					right: 0;
					top: calc(50% - 10px);
					@include transition(all .3s ease-in-out);

					@include breakpoint (small down) {
						bottom: $spacing--sm;
						right: 0;
						left: 0;
						top: auto;
						margin: 0 auto;
						padding: $spacing--xs/2 $spacing--sm;
					}//end small down breakpoint
				}//end &:before

				&:focus {
					&:before {
						background: none;
						color: get-color(default);
						@include border($color: get-color(default));
					}//end &:before

					&:hover {
						&:before {
							background-color: get-color(default);
							color: get-color(inverse);
							@include border($color: get-color(default));
						}//end &:before
					}//end &:hover
				}//end &:focus
			}//end &__title

			&__content {
				padding: 0 0 $spacing--sm 0;
			}//end &__content
		}//end .sl_accordion
	}//end &--faq
}//end .sl_accordion
