.sl_callout {
	@extend .callout;
	margin: $spacing--xxl auto $spacing--xxl;
	padding: $spacing--lg;
	overflow: auto;
	clear: both;
	background-color: get-color(accent1);
	border: none;
	border-radius: $border-radius;

	&:before {
		@include pseudo;
		background-image: url(#{$path-img}backgrounds/diamond-background-pattern.png);
		background-size: cover;
		background-repeat: no-repeat;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}//&:before

	& * {
		position: relative;
		z-index: 1;
	}

	@include breakpoint (large only) {
		margin: $spacing--xl auto $spacing--xl;
		padding: $spacing--lg $spacing--md;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		margin: $spacing--lg (-$spacing--sm);
		border-radius: 0;
		padding: $spacing--lg $spacing--sm;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		margin: $spacing--sm (-$spacing--xs);
		border-radius: 0;
		padding: $spacing--md $spacing--xs;
	}//end small down breakpoint

	&--nobox {
		&:before {
			display: none;
		}//end &:before
	}//end &--nobox

	&--secondary {
		background-color: get-color(primary);
		color: get-color(inverse);

		&:before {
			display: none;
		}//end &:before

		& > * {
			&:not([class]) {
				color: get-color(inverse);
			}//end &:not([class])
		}//end & > *
	}//end &--secondary

	&--inverse {
		&:before {
			display: none;
		}//end &:before
	}//end &--inverse

	&--border {
		&:before {
			display: none;
		}//end &:before
	}//end &--inverse

	&--card {
		padding: 0 !important;
		overflow: hidden;

		&:before {
			display: none;
		}//end &:before

		&__media {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__media
		&__content {
			padding: $spacing--lg;
			position: relative;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end &__content

		&.person {
			position: relative;

			&:before {
				display: block;
			}//end &:before

			.sl_callout--card__media {
				background-size: contain;
				background-position: center bottom;
				position: absolute;
				top: $spacing--sm;
				bottom: 0;
				right: $spacing--sm;
				left: auto;
				width: 30%;
				z-index: 1;

				@include breakpoint (medium down) {
					display: none;
				}//end medium down breakpoint
			}//end .sl_callout--card__media

			.sl_callout--card__content {
				padding-right: 30%;
				position: relative;
				z-index: 1;
			}//end .sl_callout--card__content
		}//end &.person
	}//end &--card

	&--assessment {
	}//end &--assessment
}//end .sl_callout
