.sl_divider {
	height: 2px;
	width: 100%;
	background-color: get-color(accent1);
	margin: $spacing--xl auto;

	&--space {
		height: 1px;
		background: none;
		margin: $spacing--xxl/2 auto;

		@include breakpoint (small down) {
			margin: $spacing--xl/2 auto;
		}//end small down breakpoint
	}//end &--space
}//end .sl_divider