#sl_formatting-page {
	code {
		background: none;
		padding: 0;
		border: none;
		margin-bottom: $spacing--xs;
		width: 100%;
	}//end code

	.sl_content__body {
		& > .sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:last-of-type {
						display: flex;
						justify-content: center;
						flex-direction: column
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end & > .sl_inner
	}//end .sl_content__body
}//end #sl_formatting-page
