.sl_row--shortcode {
	margin: 0 (-$spacing--sm);

	@include breakpoint (medium down) {
		margin: 0;
	}//end medium down breakpoint

	& > .sl_cell {
		padding: 0 $spacing--sm;

		@include breakpoint (medium only) {
			padding: 0 $spacing--sm/2;
		}//end medium only breakpoint
		
		@include breakpoint (medium only) {
			&.medium-12 {
				padding: 0;
			}//end & .medium-12
		}//end medium only breakpoint
		

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end .sl_cell

	&.equalizer {
		& > .sl_cell {
			display: flex;
		}//end & > .sl_cell
	}//end &.equalizer
}//end .sl_row--shortcode

.page-template-template-formatting {
	.sl_cell {
		padding: 0 $spacing--sm/2;
		
		@include breakpoint (medium only) {
			&.medium-12 {
				padding: 0;
			}//end & .medium-12
		}//end medium only breakpoint
		

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end .sl_cell
}//end .sl_row--shortcode
	