.sl_card {
	padding: $spacing--lg;
	// width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide & {
			min-height: 200px;

			@include breakpoint (small down) {
				min-height: 175px;
			}//end small down breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__icon {
		max-height: 110px;
		width: auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		img {
			max-height: 110px;
			width: auto;
			margin: 0 auto;
			text-align: center;
		}//end img
	}//end &__icon

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide & {
			padding: 2.5rem;

			@include breakpoint (medium only) {
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_deck &
	}//end &__content

//-----------------
//TYPES
//-----------------

	&--deck, &--slide {
		padding: 0;
		height: 100%;
	}//end &--deck, &--slide

	&--staff {
		padding: 0;
		background: get-color(inverse);
		color: get-color(default);
		border-radius: $border-radius;
		overflow: hidden;
		height: 100%;

		.sl_staff__image {
			width: 100%;
			height: auto;
		}//end .sl_staff__image

		.sl_card__content {
			padding: $spacing--sm;

			@include breakpoint (medium only) {
				padding: $spacing--xs;
			}//end medium only breakpoint

			p {
				margin-bottom: $spacing--xs/2;
			}//end p

			h3 {
				margin-bottom: $spacing--xs/2;

				@include breakpoint (large only) {
					font-size: 1.375rem;
				}//end large only breakpoint
			}//end h3

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end .sl_card__content
	}//end &--staff

	&--search {
		background-color: get-color(accent1);
		border-radius: $border-radius;
	}//end &--search

	&--results {
		padding: 0;
	}//end &--results

	&--article {
		border-radius: $border-radius;
		overflow: hidden;
		padding: 0;
		background-color: get-color(accent1);
		height: 100%;
		@include transition(all .2s ease-in-out);

		&:hover {
			box-shadow: $shadow;
			cursor: pointer;
			@include transition(all .2s ease-in-out);
		}//end &:hover
		
		.sl_card__image {
			position: relative;
			min-height: 250px;

			@include breakpoint (large only) {
				min-height: 200px;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				min-height: 175px;
			}//end medium down breakpoint
		}//end .sl_card__image

		.sl_card__content {
			position: relative;
			padding: $spacing--md;
			padding-bottom: $spacing--lg + $spacing--md;

			& > * {
				color: get-color(default);
				margin-bottom: 0;
			}//end & > *

			.sl_article__author {
				position: absolute;
				left: $spacing--lg;
				bottom: $spacing--lg;

				@include breakpoint (large only) {
					position: static;
					margin-bottom: $spacing--xs;
				}//end large only breakpoint

				@include breakpoint (small down) {
					position: static;
					margin-top: $spacing--xs;
					margin-bottom: $spacing--xs;
					font-size: 1rem;
				}//end small down breakpoint
			}//end .sl_article__author

			.sl_article__date {
				position: absolute;
				right: $spacing--lg;
				bottom: $spacing--md;
				font-weight: $font-weight--bold;
			}//end .sl_article__date

			.sl_article__title {
				margin-bottom: $spacing--sm;
				color: get-color(primary);

				@include breakpoint (medium down) {
					margin-bottom: $spacing--xs;
				}//end medium down breakpoint
			}//end .sl_article__title

			@include breakpoint (large down) {
				padding: $spacing--sm;
				padding-bottom: $spacing--sm + $spacing--sm;

				.sl_article__author {
					left: $spacing--sm;
					bottom: $spacing--sm;
				}//end .sl_article__author

				.sl_article__date {
					right: $spacing--sm;
					bottom: $spacing--sm;
					font-weight: $font-weight--bold;
				}//end .sl_article__date
			}//end large down breakpoint
		}//end .sl_card__content
	}//end &--article

}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
}
