.sl_contact-mobile {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: get-color(accent1);
	box-shadow: 0 -2px 4px 0 rgba(31,45,74,0.25);
	text-align: center;
	z-index: 999;

	&__phone {
		padding: $spacing--xs/2 $spacing--sm;
		display: block;
		font-weight: $font-weight--semibold;
		color: get-color(secondary);

		&:before {
			@include fontawesome($content:'\f879');
			display: inline-block;
			margin-right: $spacing--xs/2;
		}//end &:before
	}//end &__phone
}//end .sl_contact-mobile