body.error404 {
	.sl_content {
		padding-top: $spacing--xl;
		padding-bottom: $spacing--xxxl * 3;
		min-height: calc(100vh - 400px);
		&__related {

			.sl_inner {
			}//end .sl_inner
		}//end &__related
	}//end .sl_content
}//end &__related