//1. Articles Archive Page
//2. Category Archive Page
//-------------------------

//1. ARTICLES ARCHIVE PAGE 
body.blog {
	.sl_content {
		padding-top: $spacing--xl;
		padding-bottom: $spacing--xl;

		&__loop {
			& > .sl_cell {
				padding: 0 $spacing--sm;
				margin-bottom: $spacing--sm*2;

				@include breakpoint (medium only) {
					padding: 0 $spacing--md/2;
					margin-bottom: $spacing--md;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: 0;
					margin-bottom: $spacing--md;
				}//end small down breakpoint
			}//end & > .sl_cell
		}//end &__loop;
	}//end .sl_content
}//end body.blog
//END ARTICLES ARCHIVE PAGE

//2. CATEGORY ARCHIVE PAGE
body.archive {
	.sl_content {
		&__body {
			.sl_inner {

			}//end .sl_inner
		}//end &__body

		//MAIN CONTENT
		&__main {

			.sl_main {
				& > h2 {

				}//end & > h2
				& > .sl_row {
					& > .sl_cell {

					}//end & > .sl_cell
				}//end & > .sl_row
			}//end .sl_main

			.sl_pagination {
			}//end .sl_pagination
		}//end &__main

		&__loop {

		}//end &__loop
	}//end .sl_content
}//end body.category
//END CATEGORY ARCHIVE PAGE