.sl_content__breadcrumbs {
	position: relative;
	padding-top: 60px;

	@include breakpoint (small down) {
		padding-top: 30px;
	}//end small down breakpoint
	&:before {
		@include pseudo;
		left: 0;
		right: 0;
		top: 0;
		height: 60px;
		background-color: #08C7B7;
		opacity: .05;

		@include breakpoint (small down) {
			height: 30px;
		}//end small down breakpoint
	}//end &:before

	&:after {
		@include pseudo;
		background-image: url(#{$path-img}backgrounds/diamond-background-pattern.png);
		background-size: cover;
		background-repeat: no-repeat;
		top: 0;
		right: 0;
		left: 0;
		height: 60px;
		opacity: .5;

		@include breakpoint (small down) {
			height: 30px;
		}//end small down breakpoint
	}//end &:after
}//.sl_content__breadcrumbs
.sl_breadcrumbs {
	margin-top: $spacing--xs/2;
	position: relative;
	z-index: 1;

	li {
		margin-bottom: 0;
		line-height: 1;
		color: get-color(default);
		font-size: rem-calc(12px);

		&:not(:last-child) {
			&:after {
				font-family: "Font Awesome 5 Free";
				font-weight: $font-weight--bold;
				color: get-color(default);
			}//end &:after
		}//end &:not(:last-child)

		@include breakpoint (small down) {
			line-height: 1.5;
		}//end small down breakpoint

		a {
			color: get-color(secondary);
		}//end a
	}//end li

	&__current {
	}//end &__current
}//end .sl_breadcrumbs

body.home .sl_content__breadcrumbs {
	display: none;
}