.sl_footer {
	background-color: get-color(accent3);
	color: get-color(inverse);
	padding: $spacing--lg 0 $spacing--xs;

	@include breakpoint (small down) {
		font-weight: $font-weight--semibold;
	}//end small down breakpoint

	& > .sl_inner {
		& > .sl_row {
			padding-bottom: $spacing--md;

			& > .sl_cell {
				&:last-of-type {
					display: flex;
					align-items: flex-end;
				}//end &:last-of-type
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end & > .sl_inner

	&__address {
		padding-bottom: $spacing--lg;

		a {
			color: get-color(inverse);

			&:hover {
				text-decoration: underline;
			}//end a
		}//end a

		& > .sl_cell {
			flex: 0 0 auto;
			width: auto;
			padding: 0 $spacing--sm;

			@include breakpoint (small down) {
				padding: 0;
				width: 100%;
			}//end small down breakpoint

			&:first-of-type {
				padding-left: 0;

				@include breakpoint (small down) {
					margin-bottom: $spacing--sm;
				}//end small down breakpoint
			}//end &:first-of-type

			&:last-of-type {
				padding-right: 0;
			}//end &:last-of-type
		}//end & > .sl_cell

		p {
			margin-bottom: 0;
		}//end p
	}//end &__address

	.sl_menu {
		justify-content: flex-start;
		margin-bottom: $spacing--lg;

		@include breakpoint (small down) {
			display: block;
		}//end small down breakpoint

		& * {
			color: get-color(inverse);
		}//end & > *

		& > li {
			font-weight: $font-weight--regular;
			flex: 0 0 auto;
			margin-bottom: 0;
			font-size: 1rem;
			position: relative;
			padding: 0 $spacing--sm;

			@include breakpoint (small down) {
				padding: 0;
				margin-bottom: $spacing--sm;
				font-weight: $font-weight--semibold;
			}//end small down breakpoint

			&:after {
				display: inline-block;
				content: '|';
				position: absolute;
				right: -4px;
				top: -5px;
				color: rgba(#FEFFFE, .6);

				@include breakpoint (small down) {
					display: none;
				}//end small down breakpoint
			}//end &:after

			&:first-of-type {
				padding-left: 0;
			}//end &:first-of-type

			&:last-of-type {
				padding-right: 0;

				@include breakpoint (small down) {
					margin-bottom: 0;
				}//end small down breakpoint

				&:after {
					display: none;
				}//end &:after
			}//end &:last-of-type
		}//end & > li

		a {
			padding: 0;

			&:hover {
				text-decoration: underline;
			}//end a
		}//end a
	}//end .sl_menu

	&__socials {
		.sl_socials {

			.sl_cell {
				width: auto;
				padding: 0 $spacing--sm/2;
				display: flex;
				align-items: center;
				
				&:first-of-type {
					padding-left: 0;
				}//end &:first-of-type

				&:last-of-type {
					padding-right: 0;
				}//end &:last-of-type
			}//end .sl_cell
		}//end .sl_socials
	}//end &__socials

	&__logos {
		max-width: 450px;
		margin-left: auto;

		@include breakpoint (small down) {
			max-width: none;
			margin: 0;
			padding-top: $spacing--xl;
		}//end small down breakpoint

		.sl_footer__logo {
			height: 50px;

			@include breakpoint (small down) {
				margin-bottom: $spacing--md;
			}//end small down breakpoint

			img {
				height: 100%;
				width: auto;
				padding: 0 $spacing--sm;
			}//end img
		}//end .sl_cell
	}//end &__logos

	.sl_copyright {
		margin-bottom: 0;
		text-align: center;
		font-size: rem-calc(12px);
		line-height: 1rem;

		@include breakpoint (small down) {
			max-width: 260px;
			margin: 0 auto;
		}//end small down breakpoint
	}//end .sl_copyright

}//end .sl_footer