.sl_header {
	position: relative;
	z-index: 999;
	max-width: none;
	
	// USER NAVIGATION //
	.sl_usernav {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		background-color: #F2F3F4;
		position: relative;
		@include inner;
		max-width: none;
		padding: 0;

		&__left {
			flex: 0 0 auto;
			height: 100%;
		}//end &__left

		&__phone {
			color: get-color(primary);
			font-size: rem-calc(14px);
			font-weight: $font-weight--semibold;
		}//end &__phone

		&__right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;			

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(default);
						padding: $spacing--xs $spacing--sm;
						@include transition (.2s all ease-in-out);
						font-size: rem-calc(14px);
						font-weight: $font-weight--semibold;
						border-radius: $border-radius;
						position: relative;

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(primary);
							text-decoration: underline;
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end .sl_menu
		}//end &__menu

		&__search {
			@include transition(.3s all ease-in-out);
			.sl_form {
				//Input
				.sl_form__input {
					width: 30px;
					color: transparent;
					padding: 0;
					@include transition(.3s all ease-in-out);

					//Place Holder Text
					@include placeholder {
						opacity: 0;
						@include transition(.3s all ease-in-out);
					}//end @include placeholder

					&:focus, &:hover, &:active {
						width: 200px;
						color: get-color(default);
						padding: $spacing--xs/3 $spacing--md;
						@include transition(.3s all ease-in-out);

						@include breakpoint (large only) {
							width: 170px;
						}//end large only breakpoint

						//Place Holder Text
						@include placeholder {
							opacity: 1;
							@include transition(.3s all ease-in-out);
						}//end @include placeholder
					}//end &:focus, &:hover, &:active
				}//end &__input
			}//end .sl_form

			&:hover {
				.sl_form {
					//Input
					.sl_form__input {
						width: 200px;
						padding: $spacing--xs/3 $spacing--md;
						color: get-color(default);
						@include transition(.3s all ease-in-out);

						@include breakpoint (large only) {
							width: 170px;
						}//end large only breakpoint

						//Place Holder Text
						@include placeholder {
							opacity: 1;
							@include transition(.3s all ease-in-out);
						}//end @include placeholder
					}//end &__input and select
				}//end .sl_form
			}//end &:hover, &:focus
		}//end &__search
	}//end .sl_usernav

	// MAIN MENU LARGE //
	.sl_nav {
		background-color: get-color(inverse);
		box-shadow: $shadow;
		position: relative;
		@include inner;
		max-width: none;
		padding: 0;

		&:before {
			@include pseudo;
			background-image: url(#{$path-img}logo-background.svg);
			background-size: cover;
			background-position: right top;
			left: 0;
			top: 0;
			bottom: 0;
			width: 413px;
			max-width: 25%;
			z-index: 0;

			@include breakpoint (xlarge only) {
				width: 285px;
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				width: 240px;
			}//end large only breakpoint
		}//end &:before

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 193px;
			z-index: 1;

			@include breakpoint (xlarge only) {
				max-width: 160px;
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				max-width: 140px;
			}//end large only breakpoint
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 1;

			img {
				max-height: 50px;

				@include breakpoint (xlarge only) {
					max-height: 42px;
				}//end xlarge only breakpoint

				@include breakpoint (large only) {
					max-height: 37px;
				}//end large only breakpoint
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(secondary);
						padding: $spacing--sm + .5rem $spacing--sm + .5rem;
						@include transition (.2s all ease-in-out);
						font-size: 1.25rem;
						font-weight: $font-weight--semibold;
						border-radius: $border-radius;
						position: relative;

						@include breakpoint (xlarge only) {
							font-size: 1.125rem;
							padding: $spacing--sm + .5rem $spacing--sm + .25rem;
						}//end xlarge only breakpoint

						@include breakpoint (large only) {
							font-size: 1rem;
							padding: $spacing--sm + .5rem $spacing--xs;
						}//end large only breakpoint

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(primary);
						}//end &:hover
					}//end & > a

					//Current Page 
					&.current_page_item, &.current_page_parent {
						& > a {
							color: get-color(primary);

							&:after {
								border-color: get-color(primary) transparent transparent;
							}//end &:after
						}//end & > a

						&.is-dropdown-submenu-parent > a {
							color: get-color(primary);

							&:after {
								border-color: get-color(primary) transparent transparent;
							}//end &:after
						}//end & > a
					}//end &.current_page_item

					//Has Dropdown
					&.is-dropdown-submenu-parent {
						&.is-active {
							& > a {
								color: get-color(primary);
							}//end & > a
						}//end &.is-active

						& > a {
							&:after {
								border-width: 10px 6px 0;
								border-color: get-color(secondary) transparent transparent;
								right: 9px;
								@include transition (.2s all ease-in-out);

								@include breakpoint (xlarge down) {
									right: 0;
								}//end xlarge down breakpoint

								@include breakpoint (large only) {
									border-width: 8px 4.5px 0;
								}//end large only breakpoint
							}//end &:after

							&:hover {
								&:after {
									border-color: get-color(primary) transparent transparent;
									@include transition (.2s all ease-in-out);
								}//end &:after
							}//end &:hover
						}//end & > a
					}//end &.is-dropdown-submenu-parent

					//Dropdown Menu
					&.opens-right {
						& > .is-dropdown-submenu {
							// top: 104%;
							background: get-color(inverse);
							border: none;
							box-shadow: $shadow;
							padding: $spacing--sm/2 0;

							& > li {
								& > a {
									font-size: 1.125rem;
									color: get-color(secondary);
									font-weight: $font-weight--semibold;
									padding: $spacing--sm/2 $spacing--md;
									line-height: 1.5rem;
									@include transition (.2s all ease-in-out);

									@include breakpoint (large only) {
										font-size: 1rem;
									}//end large only breakpoint

									&:hover {
										background-color: rgba(get-color(accent2), .5);
										// color: get-color(primary);
										@include transition (.2s all ease-in-out);
									}//end &:hover
								}//end & > a
							}//end & > li
						}//end & > .is-dropdown-submenu
					}//end &.opens-right
				}//end & > li
			}//end .sl_menu
		}//end &__menu
	}//end .sl_nav

	// MOBILE HEADER
	.sl_mobilenav {
		background: none;
		padding: $spacing--xs;
		align-items: center;

		&:before {
			@include pseudo;
			background-image: url(#{$path-img}logo-background.svg);
			background-size: cover;
			background-position: right top;
			left: 0;
			top: 0;
			bottom: 0;
			width: 282px;
		}//end &:before

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 180px;
			z-index: 1;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 44px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
		}//end &__right

		&__menu {
			width: 46px;
			height: 46px;
			background-image: url(#{$path-img}icon/mobile-menu.svg);
			background-size: contain;
			margin-left: auto;
		}//end &__menu
	}//end .sl_mobilenav
}//end .sl_globalheader

//Makes sure the proper menu shows on the screen while js is loading
.no-js {
  @include breakpoint(medium down) {
    .sl_nav {
      display: none;
    }//end .sl_nav
  }//end breakpoint for medium down

  @include breakpoint(large) {
    .sl_mobilenav {
      display: none;
    }//end .sl_mobilenav
  }//end breakpoint for large
}//end .no-js