//OFF-CANVAS MENU
#sl_offcanvas {
	&.sl_mobilemenu {
		@include container;
		border-radius: 0;
		padding: $spacing--sm $spacing--xs;
	}//end &.sl_mobilemenu
}//#sl_offcanvas

.sl_mobilemenu {
	.is-drilldown {
		.sl_menu {
			background-color: get-color(inverse);
			padding: 0;
			margin-bottom: 0;
			display: block;

			& > li {
				display: block;

				& > a {
					color: get-color(secondary);
					padding: $spacing--sm/2 0;
					font-weight: $font-weight--semibold;
					font-size: 1.4rem;
					line-height: 2rem;
				}//end & > a

				&.is-drilldown-submenu-parent {
					& > a {
						&:after {
							border-color: transparent transparent transparent get-color(secondary);
							border-width: 10px 0 10px 12px;
							right: 0;
						}//end &:after
					}//end & > a
				}//end &.is-drilldown-parent
			}//end & > li
		}//end .sl_menu

		.js-drilldown-back {
			& > a {
				&:before {
					border-color: transparent get-color(secondary) transparent transparent;
					border-width: 10px 12px 10px 0;
					left: 0;
				}//end &:after
			}//end & > a
		}//end &.js-drilldown-back
	}//end .is-drilldown

	&__usermenu {
		padding-top: $spacing--md;
		margin-bottom: $spacing--xs;
		.sl_menu {
			display: block;

			& > li {
				display: block;

				& > a {
					color: get-color(secondary);
					padding: $spacing--sm/2 0;
					font-size: 1.125rem;
					line-height: 1;
					font-weight: $font-weight--regular;
				}//end & a
			}//end & > li
		}//end .sl_menu
	}//end .sl_mobilemenu__usermenu

	&__search {
		position: relative;
		margin-bottom: $spacing--xs;

		.sl_form {
				//Input
				.sl_form__input {
					height: 44px;
					border: 1px solid #9B9B9B;
					box-shadow: none;
				}//end &__input
			}//end .sl_form
	}//end &__search

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: $spacing--lg;
	}//end &__header

	&__logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		max-width: 200px;
		height: 100%;

		img {
			max-height: 44px;
		}//end img
	}//end &__logo
	
	&__close {
		width: 20px;
		height: 23px;
		background-image: url(#{$path-img}icon/menu-close.svg);
		background-size: contain;
		margin-left: auto;
	}//end &__close
}//end .sl_mobilemenu

//OFF CANVAS OVERLAY
.js-off-canvas-overlay {
	background: rgba(get-color(default), .25);
}