//Default Page Template
body.page-template-default {
	.sl_content {
		padding-top: $spacing--xl;
		padding-bottom: $spacing--xxxl * 3;

		@include breakpoint (medium down) {
			padding-bottom: $spacing--xxxl;
		}//end medium down breakpoint

		h1{
			max-width: 75%;

			@include breakpoint (medium only) {
				max-width: none;
			}//end medium only breakpoint
		}//end h1

		&__main {
			padding-right: $spacing--xxxl + $spacing--xxxl/2;

			@include breakpoint (large only) {
				padding-right: $spacing--xxl;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding-right: 0;
				padding-bottom: $spacing--xxxl;
			}//end medium down breakpoint
		}//end .sl_main
	}//end .sl_content
}//end body.default
