body.search {
	.sl_content {
		padding-top: $spacing--xl;
		padding-bottom: $spacing--xxxl * 3;
		min-height: calc(100vh - 400px);

		&__body {

		}//end &__body

		&__sidebar {

		}//end &__sidebar

		&__loop {
		}//end &__loop
	}// .sl_content

	.sl_main {
		padding-top: $spacing--md;
	}

	.sl_post {
		padding: $spacing--md $spacing--md 0;
		display: block;
		@include transition (.2s all ease-in-out);

		&:not(:last-of-type) {
			border-bottom: 2px solid get-color(accent1);
		}//end &:not(:last-of-type)

		h3 {
			@include transition (.2s all ease-in-out);
		}//end h3

		&:hover {
			text-decoration: underline;
			color: get-color(secondary);
			@include transition (.2s all ease-in-out);

			h3 {
				color: get-color(secondary);
				@include transition (.2s all ease-in-out);
			}//end h3
		}//end &:hover
	}//end .sl_post

	.sl_pagination {

	}//end .sl_pagination
}//end body.search

//clears the 'X' from IE
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

//clears the 'X' from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
