.sl_sidebar {

	&__container {
	}//end &__container

	&__menu {
		list-style: none;
		margin: 0;
		padding: $spacing--xs 0;
		margin-bottom: $spacing--lg;
		border-left: 1px solid #E8EAEC;

		& > li {
			& > a {
				color: get-color(secondary);
				font-weight: $font-weight--semibold;
				padding: $spacing--xs/2 $spacing--md;
				display: block;
				@include transition (.2s all ease-in-out);
				z-index: 1;
				position: relative;

				&:hover {
					text-decoration: underline;
					@include transition (.2s all ease-in-out);
				}//end &:hover
			}//end & > a
		}//end & > li
	}//end &__menu

	&__links {
		list-style: none;
		margin: 0;

		& > li {
			background-color: get-color(accent1);
			border-radius: $border-radius;
			margin-bottom: rem-calc(10px);
			position: relative;

			&:after {
				@include pseudo;
				background-image: url(#{$path-img}backgrounds/diamond-background-strip.png);
				background-size: cover;
				background-repeat: no-repeat;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				z-index: 0;
			}//end &:after

			& > a {
				color: get-color(secondary);
				font-weight: $font-weight--semibold;
				padding: $spacing--xs $spacing--md;
				display: block;
				@include transition (.2s all ease-in-out);
				z-index: 1;
				position: relative;

				&:hover {
					text-decoration: underline;
					@include transition (.2s all ease-in-out);
				}//end &:hover
			}//end & > a
		}//end & > li
	}//end &__links

	&__title {
		background-color: rgba( #1F2D4A, .65);
		color: get-color(inverse);
		padding: $spacing--xs $spacing--md;
		margin-bottom: 0;
		border-radius: $border-radius $border-radius 0 0;
		position: relative;

		&:after {
			@include pseudo;
			background-image: url(#{$path-img}backgrounds/diamond-background-strip.png);
			background-size: cover;
			background-repeat: no-repeat;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}//end &:after
	}//end &__title
}//end .sl_sidebar

//SEARCH SIDEBAR
body.search {
	.sl_sidebar {
		&__title {
		}//rnf &__title

	}//end .sl_sidebar
}//end body.search