//SPACING
$spacing--xs: rem-calc(16px); //16px
$spacing--sm: 1.25rem; //20px
$spacing--md: 1.875rem; //30px
$spacing--lg: 2.8125rem; //45px
$spacing--xl: 4.375rem; //70px
$spacing--xxl: 5.3125rem; //85px
$spacing--xxxl: 6.25rem; //100px