/*--------------------
1. Headings
2. Paragraphs
3. Lists
4. Blockquotes
5. Links
---------------------*/

body {
	color: get-color(default);
	//-----------------
	//1. HEADINGS
	//-----------------
	h1,h2,h3,h4,h5,h6 {
		font-weight: $font-weight--semibold;
		color: get-color(primary);
	}//all headings

	h1 {
		line-height: 1.3;

		@include breakpoint (small down) {
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}///end h1 
	h2 {
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}///end h2
	h3 {
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}///end h3 
	h4 {

	}///end h4 
	h5 {

	}///end h5 
	h6 {
		font-weight: $font-weight--regular;
	}///end h6

	//-----------------
	//END HEADINGS
	//-----------------

	//-----------------
	//2. PARAGRAPHS
	//-----------------

	p {
		font-size: $font-size--regular;
		margin-bottom: $spacing--md;

		@include breakpoint (small down) {
			margin-bottom: $spacing--sm;
			line-height: rem-calc(30px);
		}//end small down breakpoint
	}//end p

	//-----------------
	//END PARAGRAPHS
	//-----------------

	//-----------------
	//3. LISTS
	//-----------------

	ul, ol, li {
		font-size: $font-size--regular;
	}

	ul {
		margin-bottom: $spacing--sm;
	}

	.sl_main, .sl_formatting-page {
		ul {
			&:not([class]) {
				list-style: none;
				margin: 0 0 $spacing--lg $spacing--xs + rem-calc(8px);

				@include breakpoint (small down) {
					margin-bottom: $spacing--md;
				}//end small down breakpoint

				li {
					position: relative;
					&:not(:last-of-type){
						margin-bottom: $spacing--md;
					}//end &:not(:last-of-type)

					&:before {
						content: '';
						display: block;
						position: absolute;
						margin-right: $spacing--xs;
						margin-left: -$spacing--xs - rem-calc(8px);
						background-color: #08C7B7;
						background-repeat: no-repeat;
						width: 8px;
						height: 8px;
						top: 8px;
						left: 0;
						transform: rotate(45deg);
					}//end &:before
				}//end li
			}//end &:not([class])
		}//end ul
	}//end .sl_main

	ol {
		margin-bottom: $spacing--sm;
		li {
			&:not(:last-of-type) {
				margin-bottom: $spacing--xs;
			}//end &:not(:last-of-type)
		}//end li
	}//end ol

	//-----------------
	//END LISTS
	//-----------------

	//-----------------
	// 4. BLOCKQUOTES
	//-----------------
		blockquote {

			p {

			}//end p

			cite {

			}//end cite
		}//end blockquote
	//-----------------
	//END BLOCKQUOTES
	//-----------------

	//-----------------
	// 5. LINKS
	//-----------------
		.sl_main {
			a {
				&:not([class]) {
					color: get-color(secondary);
					font-weight: $font-weight--semibold;

					&:hover {
						color: get-color(primary);
					}//end &:hover
				}//end &:not([class])
			}//end a
		}//end .sl_main
	//-----------------
	//END LINKS
	//-----------------
}//end body