<div data-sticky-container class="sl_sidebar">
	<div data-sticky class="sl_sidebar__container sl_sticky"  data-sticky-on="large" data-anchor="main">

		{% block content %}
			{# {{dump(post)}} #}
		{% if (post.parent != false) or (post.children) %}
		{% for item in menu %}
        	{% if (item.current_item_ancestor == true) or (item.current == true and item.current_item_ancestor == false) %}
		    	<h3 class="sl_sidebar__title">{{ item.title }}</h3>
			{% endif %}
		{% endfor %}
		<ul class="sl_sidebar__menu">
			{% for item in menu %}
            	{% if item.current_item_ancestor == true or (item.current == true and item.current_item_ancestor == false) %}
                	{% for child in item.get_children %}
                    	<li class="{{ child.classes | join(' ') }}">
				        	<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>				    
			        	</li>
                    	{% for grandchild in child.get_children %}
                        	<li class="{{ grandchild.classes | join(' ') }}">
				            	<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
			            	</li>
                    	{% endfor %}
                	{% endfor %}
            	{% endif %}
			{% endfor %}
		</ul>
		{% endif %}

		<ul class="sl_sidebar__links">
			{% for item in menu %}
            	{% if item.current_item_ancestor == false and item.current == false %}
                	<li class="{{ item.classes | join(' ') }}">
			        	<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>				    
		        	</li>
            	{% endif %}
			{% endfor %}
		</ul>
		{% endblock %}
		
	</div><!-- end #sidebarcontent -->
</div><!-- end sticky container -->