{% if image.add_logo == true %}
    <img src="{{ Image(image.logo).src }}" alt="{{ Image(image.logo).alt }}">
{% else %}
    <img src="{{site.url}}/wp-content/themes/slate/dist/img/logo.svg" alt="site logo">
{% endif %}