{% extends "base.twig" %}


{% block content %}
  <article class="sl_content__inner">
	<section class="sl_content__body">
		<div class="sl_inner">
			<div class="sl_row">
				<div class="sl_cell sl_content__main">
					<main id="main" class="sl_main">
						<div class="sl_row sl_content__loop medium-up-2">
							{% for article in posts %}
								<div class="sl_cell data-equalizer-watch">
									{% include 'partials/archive-article.twig' %}
								</div>
							{% endfor %}
						</div>

						{% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 1}) } %}
					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content__body #}
</article>{# /.sl_content__inner #}
{% endblock %}