{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_inner">
			{% if post.title %}<h1>{{post.title}}</h1>{% endif %}
			<div class="sl_row">
				<div class="sl_cell xlarge-9 large-9 sl_content__main">
					<main id="main" class="sl_main">
						{{post.content}}
					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}

				<div class="sl_cell xlarge-3 large-3 sl_content__sidebar show-for-large">
					{% include "sidebar-sticky.twig" with {'menu': menu.get_items} %}
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}

				<div class="sl_cell sl_content__sidebar hide-for-large">
					{% include "sidebar.twig" with {'menu': menu.get_items} %}
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}

			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}