{# Mobile Contact Duo Button #}
<div id="sl_contact-mobile" class="sl_contact-mobile hide-for-medium">
	<a class="sl_contact-mobile__phone" href="tel:{{option.phone.main}}"">Call Customer Service</a>
</div>