<div id="sl_footer" class="sl_footer">

	<div class="sl_inner">
		<div class="sl_row">

			<div class="sl_cell xlarge-6">
				{# ADDRESS #}
				{% include "partials/footer/address.twig" %}

				{# FOOTER MAIN MENU #}
				{% include "partials/footer/footer-menu.twig" %}
				
				{# SOCIAL ICONS#}
				{% include "partials/footer/social-media.twig"  %}
			</div>{# /.sl_cell #}

			<div class="sl_cell xlarge-6">
				{# FOOTER Logos #}
				{% include "partials/footer/footer-logos.twig" %}
			</div>{# /.sl_cell #}
			
		</div>{# /.sl_row #}
		<p class="sl_copyright">&copy; {{ now|date('Y') }} {{ bloginfo('name') }}. All Rights Reserved.</p>
	</div>{# /.sl_inner #}

</div>{# /.sl_footer #}