<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />

    <!-- Icons & Favicons -->
    <link rel="icon" type="image/png" sizes="144x144" href="{{site.theme.link}}/dist/img/favicons/php-favicon_144.png">
    <link rel="icon" type="image/png" sizes="114x144" href="{{site.theme.link}}/dist/img/favicons/php-favicon_114.png">
    <link rel="icon" type="image/png" sizes="72x72" href="{{site.theme.link}}/dist/img/favicons/php-favicon_72.png">
    <link rel="icon" type="image/png" sizes="57x57" href="{{site.theme.link}}/dist/img/favicons/php-favicon_57.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.link}}/dist/img/favicons/php-favicon_32.png">

    {{function('wp_head')}}
