.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: get-color(accent2);
	height: 700px;
	display: flex;
	align-items: center;

	@include breakpoint (small down) {
		background-position: 73% bottom;
		height: 688px;
	}//end small down breakpoint

	.sl_card {
		text-align: center;
		max-width: 900px;
		margin: 0 auto;
		padding: 0;
		padding-bottom: $spacing--xxl;

		h1 {
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				font-size: 2rem;
			}//end small down breakpoint
		}//end h1
	}//end .sl_card
	
}//end .sl_module--billboard