.sl_deck {
	.sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--xs, $p-medium: $spacing--sm, $p-large: $spacing--md - $spacing--md/2, $p-xlarge: $spacing--lg - $spacing--md/2,$p-xxlarge: $spacing--xxl - $spacing--md/2);
		& > h2 {
			text-align: center;
		}//end & > h2

		h2 {
			font-size: 38px;

			@include breakpoint (medium down) {
				font-size: 30px;
			}//end medium down breakpoint
		}//end h3

		.sl_cell {
			padding: 0 $spacing--md/2;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint

			&:not(:last-of-type) {
				@include breakpoint (small down) {
					margin-bottom: $spacing--xxl;
				}//end small down breakpoint
			}
		}//end .sl_cell
	}//end .sl_inner

	&--icon {
		.sl_card {
			text-align: center;

			&__content {
				p {
					max-width: 440px;
					margin-left: auto;
					margin-right: auto;
				}//end p

				@include breakpoint (medium down) {
					padding: $spacing--md 0 0;
				}//end medium down breakpoint
			}//end &__content
		}//end .sl_card
	}//end &--icon
}//end .sl_deck