.sl_duo {
	.sl_inner {
		& > .sl_row {
			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__media {
		@include breakpoint (small down) {
			position: relative;
			min-height: 300px;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 250px;
			}//end small down breakpoint
		}//end &__container

		&--video {
			.sl_duo__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;

			}//end .sl_duo__image
		}//end &--video
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image

	&__content {
		display: flex;
		align-items: center;

		@include breakpoint (small down) {
			flex: 0 0 auto;
			width: 100%;
		}//end small down breakpoint

		.sl_card {
			width: 100%;
		}//end .sl_card

		.sl_button-group {
			width: 100%;

			.sl_button {
				width: 100%;
				-ms-flex-negative: 1;
			}//end .sl_button
		}//end .sl_button-group
	}//end &__content

	//DUO TYPES

	&--right {
		.sl_duo__media {
			order: 2;
		}//end .sl_duo__media

		.sl_duo__content {
			order: 1;
		}//end .sl_duo__content

		@include breakpoint (medium down) {
			.sl_duo__media {
				order: 1;
			}//end .sl_duo__media

			.sl_duo__content {
				order: 2;
			}//end .sl_duo__content
		}//end medium down breakpoint
	}//end &--right

	&--person {
		padding: 0 !important;

		@include breakpoint (large down) {
			padding-bottom: $spacing--xxxl;
		}//end large only breakpoint

		.sl_card {
			padding: rem-calc(120px) rem-calc(120px) rem-calc(120px) 0;

			@include breakpoint (large only) {
				padding: $spacing--xxxl $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding: $spacing--xxl 0 $spacing--lg;
				text-align: center;
			}//end medium down breakpoint
		}//.sl_card

		&.sl_duo--right {
			.sl_card {
				padding: rem-calc(120px) 0 rem-calc(120px) rem-calc(120px);

				@include breakpoint (large only) {
					padding: $spacing--xxxl $spacing--sm;
				}//end large only breakpoint

				@include breakpoint (medium down) {
					padding: $spacing--xxl 0 $spacing--lg;
				}//end medium down breakpoint
			}//end .sl_card

			@include breakpoint (medium down) {
				.sl_duo__media {
					order: 2;
				}//end .sl_duo__media

				.sl_duo__content {
					order: 1;
				}//end .sl_duo__content
			}//end medium down breakpoint
		}//end &.sl_duo--right

		.sl_duo__image {
			background-size: contain;
			background-position: center bottom;
		}//end &__image

		.sl_duo__media {
			padding-top: $spacing--lg;

			@include breakpoint (medium down) {
				padding-top: 0;
			}//end medium down breakpoint
		}//end .sl_duo__media

		@include breakpoint (medium down) {
			.sl_duo__media {
				order: 2;
			}//end .sl_duo__media

			.sl_duo__content {
				order: 1;
			}//end .sl_duo__content
		}//end medium down breakpoint
	}//end &--person

	&--blue, &--grey {
		position: relative;
		&:after {
			@include pseudo;
			background-image: url(#{$path-img}backgrounds/diamond-background-pattern.png);
			background-size: cover;
			background-repeat: no-repeat;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			opacity: .5;
		}//&:after
	}//end &--blue, &--grey

	&--blue {
		background-color: rgba(#08C7B7, .1);
	}//end &--blue

	&--grey {
		background-color: rgba(#1F2D4A, .1);
	}//end &--blue
}//.sl_duo